body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: #141514;
    color: #858796;
}

#myBoard {
    margin: 0;
    width: 500px;
    touch-action: none;
}

.container {
    display: flex;
    justify-content: center; /* Center the chessboard + sidebar container horizontally */
    gap: 20px; /* Spacing between the chessboard and the sidebar */
    margin: 0 auto; /* Ensure the container itself is centered on the page */
    padding: 20px;
}

.sidebar {
    background-color: #141514; /* Dark background for the sidebar */
    color: white; /* Light color for text for contrast */
    padding: 10px;
    border: 2px solid #f5deb3; /* Light cream border */
    box-shadow: 0px 0px 10px 3px rgba(245, 222, 179, 0.5); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for a smoother look */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.sidebar h3{
    margin: 0;
}

button {
    margin-top: 20px;
    padding: 10px;
}

.turnInfoP{
    background-color: #f5deb3; /* Cream background might be too bright, consider a darker shade for contrast */
    font-weight: bold;
    color: black; /* Ensuring text color is dark for readability on cream */
    padding: 10px;
    border-radius: 5px; /* Optional: adds rounded corners to the background */
    margin: 10px 0; /* Space above and below */
}

.ratingInfoP {
    font-size: 2em; /* Makes the text larger */
    color: #f5deb3; /* Cream color text */
    padding: 5px;
}
    

/* For mobile devices */
@media (max-width: 767px) {
    .container {
        display: block;
    }

    #myBoard {
        width: 100%; /* Smaller board for mobile */
        touch-action: none;
    }

    .sidebar {
        margin-top: 20px;
        width: 100%; /* Sidebar spans full width below the board */
        padding: 0;
    }
}